# Balancing

In [12]:
import numpy as np
import pandas as pd 
import tensorflow as tf
import tensorflow.keras as ks

#unsupervised:
from sklearn.cluster import KMeans
#transformers:
from sklearn.preprocessing import OneHotEncoder, TargetEncoder, StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin
import scipy.stats as st

import matplotlib.pyplot as plt
import matplotlib.colors as mcolors

from itertools import combinations
from sklearn.model_selection import RepeatedStratifiedKFold

from collections import Counter
#Note: train data has 13 feature column and 1 binary label for a total of 14 columns

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.head(3)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.0,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.0,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.0,2,1.0,0.0,184866.69,0

In [4]:
train.shape

(165034, 14)

In [5]:
ones = train.Exited.sum()
zeros = train.shape[0] - ones

In [6]:
ones

34921

In [7]:
zeros

130113

In [11]:
scale_pos_weight = zeros / ones
print("scale_pos_weight: {}".format(np.round(scale_pos_weight,3)))

scale_pos_weight: 3.726

In [13]:
z = Counter(train.Exited)
z

Counter({0: 130113, 1: 34921})

In [14]:
z[0] / z[1]

3.72592422897397