# For Age

In [1]:
import numpy as np
import pandas as pd 
import tensorflow as tf
import tensorflow.keras as ks

#unsupervised:
from sklearn.cluster import KMeans
#transformers:
from sklearn.preprocessing import OneHotEncoder, TargetEncoder
from sklearn.base import BaseEstimator, TransformerMixin
import scipy.stats as st

import matplotlib.pyplot as plt
import matplotlib.colors as mcolors

#Note: train data has 13 feature column and 1 binary label for a total of 14 columns

In [2]:
train = pd.read_csv("train.csv")

In [3]:
train.head(4)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0

In [4]:
train.shape

(165034, 14)

In [5]:
train.Tenure.describe()

count    165034.000000
mean          5.020353
std           2.806159
min           0.000000
25%           3.000000
50%           5.000000
75%           7.000000
max          10.000000
Name: Tenure, dtype: float64

In [6]:
train.Tenure.unique()

array([ 3,  1, 10,  2,  5,  4,  8,  6,  9,  7,  0])

In [13]:
pd.cut(train.Tenure, bins = 4)

0           (2.5, 5.0]
1         (-0.01, 2.5]
2          (7.5, 10.0]
3         (-0.01, 2.5]
4           (2.5, 5.0]
              ...
165029    (-0.01, 2.5]
165030      (2.5, 5.0]
165031      (2.5, 5.0]
165032      (5.0, 7.5]
165033    (-0.01, 2.5]
Name: Tenure, Length: 165034, dtype: category
Categories (4, interval[float64, right]): [(-0.01, 2.5] < (2.5, 5.0] < (5.0, 7.5] < (7.5, 10.0]]

In [14]:
# Tenure has no effect or negative effect